   	.masonry-gallery {
   		background: #444;
   	}

   	img {
   		width: 200px;
   	}
   	
    .masonry-container {
        padding: 10px; 
    }

    .masonry-block {
        background: #fff;
        display: inline-block;
        width: auto;
        padding: 10px;
        margin: 10px;
    }